<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="app.baturamobile.com.designsystem">

    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".EmptyStateActivity"></activity>
        <activity android:name=".Selections" />
        <activity android:name=".ChipsActivity" />
        <activity android:name=".Dialogs" />
        <activity android:name=".ListsActivity" />
        <activity android:name=".FormsActivity" />
        <activity android:name=".ToastActivity" />
        <activity android:name=".BottomNavigationActivity" />
        <activity android:name=".BottomBar" />
        <activity android:name=".Toolbar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".LettersActivity"
                android:label="@string/title_activity_letters" />
        <activity android:name=".TypeColorActivity" />
        <activity android:name=".Buttons" />
    </application>

</manifest>